body{
	font-family: 'Mulish', sans-serif;
	margin: 0 auto;
	font-size: 14px;
	line-height: 20px;
	color:#686868;
}
a:hover{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
.header{
	padding: 19px 40px;
	background-color: #fff;
}
.header .pull-right{
	display: flex;
	align-items: center;
}
.header.nav-down {
    transition: all ease-in-out 0.5s;
    top: 0!important;
    position: fixed;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    width: 100%;
	z-index: 99;
	box-shadow: -1px 0px 69px rgb(0 0 0 / 13%);
	-webkit-box-shadow: -1px 0px 69px rgb(0 0 0 / 13%);
	-moz-box-shadow: -1px 0px 69px rgb(0 0 0 / 13%);
}
.header.nav-up {
    position: fixed;
    top: -80px!important;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
    width: 100%;
}
.logo{
	width: 300px;
}
button.close{
	display: none;
}
.btn-register{
	font-family: 'Be Vietnam', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	background: #00B3A5;
	display: inline-block;
	padding: 8px 15px 10px;
	box-shadow: 8px 8px 24px rgba(138, 66, 0, 0.16);
	border-radius: 10px;
	margin-top: 8px;
}
.btn-register:hover{
	color: #FFFFFF;
}
.banner{
	background: url(../images/banner.jpg) no-repeat bottom right #FF9533;
	background-size: 82%;
	color:#F7F7F7;
	padding: 90px 0 155px 0;
	position: relative;
}
.banner h1{
	font-family: 'Be Vietnam', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 23px;
	line-height: 1.6;
	margin-top: 0;
}
.banner h2{
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 800;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.banner p{
	font-size: 16px;
	line-height: 22px;
}
.banner p strong{
	font-size: 900;
}
.video{
	padding-right: 55px;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.video h4{
	font-size: 14px;
}
video{
	border-radius: 14px;
}
.banner .img-demo{
	position: absolute;
	bottom: 5px;
	left: 40%;
}
.box{
	margin: 100px 10% 40px;
	padding: 40px 10px 40px 45px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: 1px solid #FF9533;
	box-sizing: border-box;
	border-radius: 36px;
}
.box p{
	padding: 0 20%;
	margin-top: 45px;
	color: #000000;
}
.box h3{
	color:#FF9533;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 45px;
}
.box img{
	display: inline-block;
	max-width: calc(100% - 145px);
}
.box .chart .text{
	font-weight: 900;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #FF9533;
	display: inline-block;
  	vertical-align: top;
  	margin-right: 15px;
}
.hopital .col-sm-7{
	padding-right: 0;
}
.myswiper{
	overflow: hidden;
	max-height: 510px;
}
.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide {
	width: 60%;
}
.swiper-slide:nth-child(2) {
	width: 60%;
}
.swiper-slide:nth-child(3) {
	width: 60%;
}
#slide-pagination{
	position: absolute;
	bottom: 0;
}
#slide-pagination a:focus {
	outline: none;
}
a[aria-disabled="true"]{
	opacity: 0.7;
}
.hopital{
	background: url(../images/rectangle.png) no-repeat 45px top;
	background-size: 25%;
	padding-top: 75px;
	margin-top: 45px;
	overflow: hidden;
}
.hopital .row{
	display: flex;
}
.hop-content{
	padding-left: 28%;
}
.hop-content p{
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
}
.feature{
	padding-top: 100px;
	padding-bottom: 90px;
	text-align: center;
}
h3{
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 46px;
	color: #151515;
	margin-top: 0;
}
.feature h4{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #FF9533;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}
.feature h4 span{
	background: url(../images/icon-rec.png) no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	color: #F7F7F7;
    position: absolute;
    left: -15px;
}
.feature .col-sm-4:nth-child(2) h4 span{
    left: -40px;
}
.feature .col-sm-4:last-child h4 span{
    left: 37px;
}
.feature-img{
	margin-top: 85px;
}
.doco{
	text-align: center;
	background: #FFF5EC;
	box-shadow: -1px -15px 69px rgba(0, 0, 0, 0.13);
	padding-top: 70px;
	padding-bottom: 100px;
	position: relative;
	margin-top: 375px;
}
.doco::before{
	content:"";
	position: absolute;
	background: url(../images/img-3.png) no-repeat center top;
	background-size: 100%;
	width: 100%;
	height:100%;
	left: 0;
	right: 0;
	max-width: 1170px;
	margin: 0 auto;
	top: -60%;
	z-index: -1;
}
.doco .doco-short{
	margin-bottom: 40px;
}
.doco img{
	margin: 0 auto;
}
.doco h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #FF9533;
	margin-top: 40px;
	margin-bottom: 15px;
}
.doco .step{
	margin-bottom: 40px;
	position: relative;
}
.doco .step span{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #FF9533;
	color:#fff;
	font-size: 21px;
	line-height: 2.1;
	border-radius: 50%;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
.doco .step::before,
.doco .step::after{
	content:"";
	height: 1px;
	position: absolute;
	width: calc(50%);
	background:#FF9533;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 1;
}
.doco .step.last::after,
.doco .step.first::before{
	height: 0;
}
.doco .step::before{
	left: -15px;
}
.doco .step::after{
	right: -15px;
}
.res{
	padding:120px;
	position: relative;
}
.res .row:first-child{
	display: flex;
	align-items: center;
}
.res::before{
	content: "";
	background:url(../images/rectangle2.png) no-repeat;
	background-size: 100%;
	width: 345px;
	height: 512px;
	left: 0;
	top:200px;
	position: absolute;
}
.res:after{
	content: "";
	background:url(../images/rectangle3.png) no-repeat;
	background-size: 100%;
	width: 500px;
	height: 1038px;
	right: 0;
	bottom:120px;
	position: absolute;
	z-index: -1;
}
.res .col-sm-7{
	padding-left: 1%;
}
.res h3.title{
	color:#FF9533;
	font-size: 48px;
	line-height: 1.3;
	margin-bottom: 20px;
}
.res-content{
	display: flex;
	align-items: center;
	padding-left: 10%;
}
.team{
	padding: 100px 0;
	position: relative;
}
.team .container{
	text-align: center;
	max-width: 910px;
	line-height: 1.3;
}
.team [class^='col-sm']{
	padding:0
}
.team p{
	color:#000000;
	font-size: 16px;
	margin-bottom: 30px;
}
.team h3{
	margin-bottom: 20px;
	margin-top: 20px;
}
.reha{
	text-align: center;
	padding-bottom: 120px;
	margin-top: -115px;
}
.reha h3.title{
	color: #FFFFFF;
	background: #FF9533;
	border-radius: 10px;
	display: inline-block;
	padding:10px 15px;
}
.reha h3.title span{
	color:#090909;
}
.reha p{
	margin-top: 5px;
}
.reha p span{
	font-weight: 700;
}
.form-contact{
	padding-top: 40px;
}
input.form-control:focus,
select.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: #FF9533;
}
input[type="text"]{
	outline: none;
}
.dropdown.hasError{
	border-color: #FF9533;
}
.form-contact .dropdown input:focus{
	border-color: #FF9533;
	outline: none;
}
.input-label .text-name,
.dropdown,
.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact select{
	filter: drop-shadow(8px 8px 24px rgba(0, 0, 0, 0.1));
	border-radius: 7px;
	padding: 10px 15px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.3;
	display: flex;
	align-items: center;
	color: #686868;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	margin-bottom: 15px;
	z-index: 1;
}
.list-option{
	margin-top: 30px;
	margin-bottom: 30px;
}
.input-label .text-name{
	background-color: #fff;
	text-align: left;
	cursor: default;
	padding: 15px;
	height: auto;
}
input[type="checkbox"],
input[type="radio"]{
	opacity: 0;
}
.checkbox, .radio{
	text-align: left;
	margin-bottom: 20px;
}
.checkbox label, .radio label{
	padding-left: 30px;
	font-size: 18px;
	color: #686868;
	display: block;
}
.checkmark{
	position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color:transparent;
    border: 2px solid #FF9533;
}
.radio .checkmark{
	border-radius: 50%;
}
.radio input:checked + .checkmark:after,
.radio input:checked + label + .checkmark:after{
	left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:2px solid #fff;
	-webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.checkmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
	opacity: 0;
}
input:checked + .checkmark,
input:checked + label + .checkmark{
	background-color: #FF9533;
}
input:checked + .checkmark::after,
input:checked + label + .checkmark::after{
	opacity: 1;
}
.checkbox input[type="text"]{
	border: 1px solid #DCDCDC;
	border-radius: 6px;
	padding: 8px;
	margin: 0px 0 0 8px;
	height: 38px;
	font-family: Mulish;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	width: calc(100% - 55px);
}
.checkbox.other .checkmark{
	bottom:0;
	margin:auto;
}
.checkbox input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #BCBCBC;
	opacity: 1;
}
.checkbox input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #BCBCBC;
}
.checkbox input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
	color: #BCBCBC;
}
.switch {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50px;
	border-radius: 34px;
	background-color: #F2F2F2;
	z-index: 0;
	margin-bottom: 5px;
}  
.switch label{
	height: 100%;
	position: relative;
	line-height: 50px;
	color:#686868;
	font-size: 18px;
}
.switch input { 
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: .2s;
	transition: .2s;
}
.switch input + .slider:before  {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: .2s;
	transition: .2s;
	z-index: -1;
}
.switch input:checked + .slider{
	color:#FFFFFF;
}
.switch input:checked + .slider:before {
	left: auto;
	right: 0;
	background-color: #FF9533;
} 
.switch input:checked + .slider:before {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	border-radius: 34px;
}  
.btnSubmit{
	background: #FF9533;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 160%;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	border:0;
	padding: 10px 25px;
	margin-top: 15px;
}
.modal-content{
	box-shadow: 0 0;
	-webkit-box-shadow: 0 0;
	background: url(../images/banner.jpg) #FF9533 no-repeat bottom;
	background-size: 100%;
	color: #fff;
	font-size: 18px;
	padding: 56px 56px 242px;
	border: 0;
}
.modal-content h3{
	font-family: Be Vietnam;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.3;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 30px;
	width: 60%;
}
.modal-content p{
	width: 45%;
}
.modal-header .close{
	padding: 10px;
	position: absolute;
	width: 136px;
	height: 42px;
	top: 17px;
	right: 20px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 42px;
	text-shadow: 0 0;
	text-align: center;
	color:#fff;
	opacity: 1;
	font-family: 'Mulish';
	font-size: 18px;
	font-weight: normal;
}
.modal-body{
	padding: 0;
}
.close img{
	margin-top: -5px;
	margin-left: 10px;
}
.modal-header{
	border-bottom: 0;
}
.modal.in .modal-dialog {
    transform: translate(0, 0);
}
.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-dialog {
    vertical-align: middle;
}
.dropdown{
	background-color: #fff;
	text-align: left;
	z-index: 6;
	cursor: pointer;
}
.dropdown input[type="text"]{
	height: 40px;
	width: 95%;
	display: inline-block;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999999;
    top: 0;
    text-align: center;
    display: none;
}
#loading img {
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
}
#myForm .row:nth-child(2) .dropdown{
	z-index: 5;
}
#myForm .row:nth-child(3) .dropdown{
	z-index: 4;
}
#myForm .row:nth-child(4) .dropdown{
	z-index: 3;
}
.dropdown.device{
	z-index: 2;
}
.dropdown.last{
	z-index: 1;
}
.dropdown .text-name{
	padding-right: 20px;
	display: inline-block;
}
.dropdown-menu{
	width: 100%;
	background-color: #fff;
}
.dropdown-menu > li > a{
	font-size: 16px;
	font-weight: bold;
	color: #686868;
}
.dropdown .carets{
	position: absolute;
	right: 15px;
	top: 12px;
}
.form-contact select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	background: url(../images/icon-arrow.svg) no-repeat right center #fff;
	background-position: calc(100% - 15px);
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #686868;
	opacity: 1;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #686868;
}
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #686868;
}
span.error,
label.error{
	color:#FF9533;
	padding: 3px 5px;
	position: relative;
	top:-15px;
	font-style: italic;
	font-size: 14px;
	text-align: left;
	display: block
}
span.error,
.input-label label.error {
	position: absolute;
    top: -30px;
    left: 0;
    font-weight: bold;
}
.form-contact input.error, .form-contact select.error{
	border-color: #FF9533;
}
.question{
	background:rgba(209, 209, 209, .3);
	padding: 130px 0 65px;
}
.question h3{
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.3;
	color:#FF9533;
	margin-bottom: 15px;
}
.question div[aria-expanded="false"]{
	height: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: 0;
	color: #686868;
}
.panel-group{
	margin-top: 15px;
}
.panel-group .panel{
	border-color: #FF9533;
	border-top: 0;
	margin-bottom: 15px;
	background: #F7F7F7;
}
.panel-default>.panel-heading{
	background: #FF9533;
	color:#fff;
	border:0;
}
.panel-title{
	background: url(../images/icon-arrow2.svg) no-repeat right center;
}
.panel-title a{
	display: block;
}
.panel-title a:focus{
	text-decoration: none;
}
.panel-body{
	color:#000000;
}
.footer{
	background: #FF9533;
	padding-top: 50px;
	padding-bottom: 70px;
}
.footer .bottom{
	border-top: 1px solid #fff;
	padding-top: 25px;
	margin-top: 55px;
}
.footer .bottom .row {
    display: flex;
    align-items: center;
}
.footer p{
	text-align: center;
	color:#fff;
	font-size: 20px;
}
.footer p a{
	color:#fff;
	font-weight: 600;
}
.footer .bottom p{
	font-size: 13px;
	margin-top: 10px;
}
.footer ul li{
	display: inline-block;
	margin-left: 15px;
}
