body{
	font-family: 'Mulish', sans-serif;
	margin: 0 auto;
	font-size: 14px;
	line-height: 20px;
	color:#686868;
}
a:hover{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
.header{
	padding: 19px 40px;
}
.header .pull-right{
	display: flex;
	align-items: center;
}
.logo{
	width: 300px;
}
.btn-register{
	font-family: 'Be Vietnam', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	background: #FF9533;
	display: inline-block;
	padding: 8px 15px 10px;
	background: #FF9533;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-right: 15px;
}
.btn-register:hover{
	color: #FFFFFF;
}
.banner{
	background: url(../images/banner.jpg) no-repeat center right;
	background-size: 100%;
	color:#F7F7F7;
	padding: 100px 0 158px 0;
}
.banner h1{
	font-family: 'Be Vietnam', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 23px;
	margin-top: 0;
}
.banner h2{
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 800;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.banner p{
	font-size: 16px;
	line-height: 22px;
}
.banner p strong{
	font-size: 900;
}
.video{
	padding-right: 55px;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	font-size: 14px;
}
video{
	border-radius: 14px;
}
.box{
	margin: 100px 10% 40px;
	padding: 40px 10px 40px 45px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: 1px solid #FF9533;
	box-sizing: border-box;
	border-radius: 36px;
}
.box p{
	padding: 0 20%;
	margin-top: 45px;
	color: #000000;
}
.box h3{
	color:#FF9533;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 45px;
}
.box img{
	display: inline-block;
	max-width: calc(100% - 145px);
}
.box .chart .text{
	font-weight: 900;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #FF9533;
	display: inline-block;
  	vertical-align: top;
  	margin-right: 15px;
}
.hopital .col-sm-7{
	padding-right: 0;
}
.myswiper{
	overflow: hidden;
	max-height: 510px;
}
.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide {
	width: 60%;
}
.swiper-slide:nth-child(2n) {
	width: 60%;
}
.swiper-slide:nth-child(3n) {
	width: 40%;
}
#slide-pagination{
	position: absolute;
	bottom: 0;
}
#slide-pagination a:focus {
	outline: none;
}
a[aria-disabled="true"]{
	opacity: 0.7;
}
.hopital{
	background: url(../images/rectangle.png) no-repeat 45px top;
	background-size: 25%;
	padding-top: 75px;
	margin-top: 45px;
	overflow: hidden;
}
.hopital .row{
	display: flex;
}
.hop-content{
	padding-left: 28%;
}
.hop-content p{
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
}
.feature{
	padding-top: 100px;
	padding-bottom: 90px;
	text-align: center;
}
h3{
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 46px;
	color: #151515;
	margin-top: 0;
}
.feature h4{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #FF9533;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}
.feature h4 span{
	background: url(../images/icon-rec.png) no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	color: #F7F7F7;
    position: absolute;
    left: -15px;
}
.feature-img{
	margin-top: 85px;
}
.doco{
	text-align: center;
	background: #FFF5EC;
	box-shadow: -1px -15px 69px rgba(0, 0, 0, 0.13);
	padding-top: 70px;
	padding-bottom: 100px;
	position: relative;
	margin-top: 375px;
}
.doco::before{
	content:"";
	position: absolute;
	background: url(../images/img-3.png) no-repeat center top;
	background-size: 100%;
	width: 100%;
	height:100%;
	left: 0;
	right: 0;
	max-width: 1170px;
	margin: 0 auto;
	top: -60%;
	z-index: -1;
}
.doco .doco-short{
	margin-bottom: 40px;
}
.doco img{
	margin: 0 auto;
}
.doco h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #FF9533;
	margin-top: 40px;
	margin-bottom: 15px;
}
.doco .step{
	margin-bottom: 40px;
	position: relative;
}
.doco .step span{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #FF9533;
	color:#fff;
	font-size: 21px;
	line-height: 2.1;
	border-radius: 50%;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
.doco .step::before,
.doco .step::after{
	content:"";
	height: 1px;
	position: absolute;
	width: calc(50%);
	background:#FF9533;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 1;
}
.doco .step.last::after,
.doco .step.first::before{
	height: 0;
}
.doco .step::before{
	left: -15px;
}
.doco .step::after{
	right: -15px;
}
.res{
	padding:120px;
	position: relative;
}
.res .row:first-child{
	display: flex;
	align-items: center;
}
.res::before{
	content: "";
	background:url(../images/rectangle2.png) no-repeat;
	background-size: 100%;
	width: 345px;
	height: 512px;
	left: 0;
	top:200px;
	position: absolute;
}
.res:after{
	content: "";
	background:url(../images/rectangle3.png) no-repeat;
	background-size: 100%;
	width: 500px;
	height: 1038px;
	right: 0;
	bottom:120px;
	position: absolute;
	z-index: -1;
}
.res .col-sm-7{
	padding-left: 1%;
}
.res h3.title{
	color:#FF9533;
	font-size: 48px;
	line-height: 1.3;
}
.res-content{
	display: flex;
	align-items: center;
	padding-left: 10%;
}
.team{
	padding: 100px;
	position: relative;
}
.team .container{
	text-align: center;
	max-width: 910px;
	line-height: 1.3;
}
.team [class^='col-sm']{
	padding:0
}
.team p{
	color:#000000;
	font-size: 16px;
	margin-bottom: 30px;
}
.team h3{
	margin-bottom: 20px;
}
.reha{
	text-align: center;
	padding-bottom: 30px;
	margin-top: -115px;
}
.reha h3.title{
	color: #FFFFFF;
	background: #FF9533;
	border-radius: 10px;
	display: inline-block;
	padding:10px 15px;
}
.reha h3.title span{
	color:#090909;
}
.reha p{
	margin-top: 5px;
}
.reha p span{
	font-weight: 700;
}
.form-contact{
	padding-top: 40px;
}
input.form-control:focus,
select.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: #FF9533;
}
.form-contact input,
.form-contact select{
	filter: drop-shadow(8px 8px 24px rgba(0, 0, 0, 0.1));
	border-radius: 7px;
	padding: 10px 15px;
	height: 50px;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #686868;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.btnSubmit{
	background: #FF9533;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 160%;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	border:0;
	padding: 10px 25px;
	margin-top: 15px;
}
.form-contact select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	background: url(../images/icon-arrow.svg) no-repeat right center #fff;
	background-position: calc(100% - 15px);
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #686868;
	opacity: 1;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #686868;
}
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #686868;
}
div.error{
	color:#fff;
	padding: 3px 5px;
	background:#FF9533;
	position: absolute;
	top:-25px;
	left:15px;
	border-radius: 5px;
	font-style: italic;
	font-size: 14px;
	display: none;
	opacity: 0;
}
.form-contact input.error, .form-contact select.error{
	border-color: #FF9533;
}
.question{
	background:rgba(209, 209, 209, .3);
	padding: 130px 0 65px;
}
.question h3{
	font-family: 'Mulish', sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.3;
	color:#FF9533;
	margin-bottom: 15px;
}
.question div[aria-expanded="false"]{
	height: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: 0;
}
.panel-group{
	margin-top: 15px;
}
.panel-group .panel{
	border-color: #FF9533;
	border-top: 0;
	margin-bottom: 15px;
	background: #F7F7F7;
}
.panel-default>.panel-heading{
	background: #FF9533;
	color:#fff;
	border:0;
}
.panel-title{
	background: url(../images/icon-arrow2.svg) no-repeat right center;
}
.panel-title a{
	display: block;
}
.panel-title a:focus{
	text-decoration: none;
}
.panel-body{
	color:#000000;
}
.footer{
	background: #FF9533;
	padding-top: 50px;
	padding-bottom: 70px;
}
.footer .bottom{
	border-top: 1px solid #fff;
	padding-top: 25px;
	margin-top: 55px;
}
.footer p{
	text-align: center;
	color:#fff;
	font-size: 20px;
}
.footer p a{
	color:#fff;
	font-weight: 600;
}
.footer .bottom p{
	font-size: 14px;
	margin-top: 10px;
}
.footer ul li{
	display: inline-block;
	margin-left: 15px;
}
